.columns > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.columns > div > div {
  background-color:#ffff;
  border-radius:10px;
  margin:30px 0;
  order: 1;
}

.columns picture{
  display:flex;
  justify-content:center;
}

.columns img {
  height:220px;
  width:auto;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: stretch;
    flex-direction: row;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    display: flex;
    flex-direction: column;
    padding:0 20px 30px;
  }
}

/* buttons */
.columns a.button:any-link,
.columns button {
  all:initial;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  border: 2px solid transparent;
  border-radius: .4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 100;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: #0072D8;
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:.8em;
}

.columns a.button:hover,
.columns a.button:focus,
.columns button:hover,
.columns button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

.columns button:disabled,
.columns button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

.columns a.button.secondary,
.columns button.secondary {
  background-color: unset;
  border: 1px solid currentcolor;
  color: #0072D8;
}

.columns > div > div p.button-container:nth-last-of-type(2) {
  position:relative;
  
}

.columns > div > div p.button-container:last-of-type {
  position:relative;
  top:-63px;
  left:160px;
}