.columns > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.columns > div > div {
  background-color:#ffff;
  border-radius:10px;
  margin:30px 0px;
  order: 1;
}

.columns picture{
  display:flex;
  justify-content:center;
}

.columns img {
  height:220px;
  width:auto;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: stretch;
    flex-direction: row;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    display: flex;
    flex-direction: column;
    padding:0 20px 30px;
  }
}
