/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

/* hamburger */
@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

.blueback{
  
}
.nav-about{
  background-image: url('../icons/logo-BDO-transparent.svg');
  background-repeat: no-repeat;
  background-size: contain; /* または cover / auto */
  background-position: center center;
}